<div class="top-menu">
  <div class="top-menu-container">
    <ul class="menu-items">
      <li class="menu-item"><a class="menu-link" (click)="navegaParaIntrucoes()">Instruções</a></li>
      <li class="menu-item"><a class="menu-link" (click)="navegaParaCodigo()">Codigo</a></li>
    </ul>
  </div>
</div>

<div class="content container-100" style="height: 330px;">

  <div [class.hidden]="!exibeInstrucoes" id="card-instrucao" class="card">
    <div class="card-content">
      <h3 class="card-title">Instruções</h3>
      <p class="card-text">{{exercicio?.descricao}}</p>
    </div>
  </div>
  <div [class.hidden]="!exibeCodigo" class="container-100 justify-content-between" style="height: 100%">
    <div id="card-codigo" class="card">
      <div class="card-content">
        <h3 class="card-title">Codigo</h3>
        <app-code [exercicio]="exercicio" (resultados)="obterResultados($event)" (exception)="obterException($event)">
        </app-code>
      </div>
    </div>
    <div [class.hidden]="!exibePontuacao" id="card-display" class="card">
      <div class="card-content">
        <ul class="list">
          @for (runTime of resultadosRuntime; track $index){
            @if(runTime.sucesso){
              <li class="list-view-sucesso">
                <span>Sucesso :D</span>
                <br>
                Exemplo: {{runTime.run}} 
                <br>
                Resultado: {{runTime.resultado}}
              </li>
            }
            @else{
              <li class="list-view-error">
                <span>Erro :(</span>
                <br>
                Exemplo: {{runTime.run}} 
                <br>
                Resultado: {{runTime.resultado}}
              </li>
            }            
            <hr class="list-divider">   
          }
        </ul>
      </div>
    </div>
    <div [class.hidden]="!exibeException" id="card-display" class="card">
      <div class="card-content">
        <p class="card-text">{{exception}}</p>
      </div>
    </div>
  </div>
</div>

<div class="flex">

  @if(exibeCodigo){ 
    <button class="button-run mr-3 ml-3" (click)="runCodigo()">Run Codigo</button>
  }
  
  <div>    
    @if(exercicio?.id !== 1){
      <button class="button mr-3 ml-3" (click)="voltarQuestao()">Voltar</button>
    }
    <button class="button mr-3 ml-3" (click)="proximaQuestao()">Próxima</button>
  </div>
</div>

